/* sets whole website to use roboto font*/
body {
  font-family: 'Roboto', sans-serif;
}

#productGallery {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.overviewLeft,
.overviewRight {
  display: inline-block;
  vertical-align: top;
}

.overviewLeft {
  max-width: 50%;
}


.overviewRight {
  max-width: 400px;
}

.productImageBlock,
.mainImage {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: 50% 100%;
}

.carousel {
  position: relative;
  top: -500px;
  left: 20px;
  width: fit-content;
  height: auto;
}

.galleryThumb,
.galleryThumbsBox {
  height: 60px;
  width: 60px;
}

.galleryThumbsBox {
  border: solid black 1px;
  margin-bottom: 5px;
  padding: 0;
}

.galleryThumb {
  object-fit: cover;
  margin: 0;
  padding: 0;
}


.stylePin {
  height: auto;
  width: auto;
  display: inline-block;
}

.pinImag {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}