/* sets whole website to use roboto font*/
body {
  font-family: 'Roboto', sans-serif;
}

.overviewLeft,
.overviewRight {
  display: inline-block;
  vertical-align: top;
}

.overviewLeft {
  min-width: 500px;
}


.overviewRight {
  min-width: 400px;
  max-width: 460px;
}


.stylePin {
  height: auto;
  width: auto;
  display: inline-block;
}

.pinImag {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}