/* sets whole website to use roboto font*/
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 1000px;
}

.home {
  display: block;
  width: fit-content;
}

.home:hover {
  cursor: pointer;
}

#reviews {
  width: 1000px;
}

html {
  scroll-behavior: smooth;
}

a,
a:visited {
  color:#0074cc;
}