#productGallery {
  width: 500px;
  height: 500px;
  /* overflow: hidden; */
}

.productImageBlock,
.mainImage {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: 50% 100%;
  display: inline-block;
}

.carousel {
  position: relative;
  top: -504px;
  left: 0px;
  height: 500px;
  width: 70px;
  display: flex;
  /* background-color: aqua; */
  overflow: hidden;
  align-items: center;
  margin: 0px;
  padding-left: 10px;
}

.carSlider {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  transform: translateY(0%);
  height: 438px;
  width: 60px;
  overflow: hidden;
}

.carouselItem {
  display: flex;
  object-fit: cover;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
  margin-top: 2px;
  height: 60px;
  width: 60px;
  flex-shrink: 0;
}