.answers {
  display: flex;
  gap: 10px;
}

.answer-start {
  font-size: 25px;
  font-weight: 900;
}  

.answers-list {
  flex: 1;
}  

.question {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

.question-start {
  font-size: 25px;
  font-weight: 900;
}

.question-body {
  font-size: 25px;
  font-weight: 900;
}