.arrow {
  border: none;
  z-index: 1;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: white;
  text-shadow: black 0 0 5px;
  font-size: 2rem;
  background-color: transparent;
  transition: color 150ms ease-in-out;
  position: absolute;
}
.arrowRight {
  border: none;
  z-index: 1;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: white;
  text-shadow: black 0 0 5px;
  font-size: 2rem;
  background-color: transparent;
  transition: color 150ms ease-in-out;
  position: absolute;
}
#left-related {
  top: 0%;
  position: absolute;
  display: none;
  z-index: 1;
  right: 97%;
  height: 100%;

}

#left-outfit {
  top: 0%;
  position: absolute;
  display: none;
  z-index: 1;
  margin-left: 246px;
  /* right: 90%; */
  height: 100%;
}

#right-related, #right-outfit{
  top: 0%;
  left: 97%;
  z-index: 1;
  height: 90%;
}

#right-related:hover, #right-outfit:hover {
  /* background-color: rgb(255, 255, 255, 0.3); */
  background: linear-gradient(to left, rgba(255, 255, 255, 0.8) 0%,rgba(255,255,255,0) 69%);
}
#left-related:hover, #left-outfit:hover {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%,rgba(255,255,255,0) 69%);
}

.related-add, #outfit-list {
  display: inline-block;
  vertical-align: top;
}

.related-container, .your-outfits-container{
  display: flex;
  width: 969px;
  height: 330px;
  position: relative;
}

#related-list, #outfit-list{
  flex: 1;
  width: 750px;
  height: 320px;
  display: inline-block;
  white-space:nowrap;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
  vertical-align: top;
}

.card{
  display: inline-block;
  width: 230px;
  height: 300px;
  position:relative;
  box-sizing: border-box;
  background: #fff;
  margin-left:6px;
  margin-right:6px;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 2px;
  word-wrap: break-all;

}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-category{
  margin: 0
}
.card-price{
  margin: 0
}
.stars{
  margin: 0;
  padding-left: 6px;
  color: rgb(86, 86, 86);
}
#outfit-add{
  /* display: inline-block; */
  box-sizing: border-box;
  background: #fff;
  height: 300px;
  margin-left:6px;
  margin-right:6px;
  cursor: pointer;
  width: 230px;
  border: 1px solid rgb(59, 59, 59);
  color:rgb(86, 86, 86);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #child{
  flex: 0 0 120px;
} */
#add-icon{
  margin-left: 15%;
}

#outfit-add:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.delete-outfit {
  position: absolute;
  background: transparent;
  color: rgba(255, 255, 255, 0.774);
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
}

.delete-outfit:hover {
  color: black;
}
.compare-button {
  position: absolute;
  background: transparent;
  color: rgb(255, 255, 255， 0.774);
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
}

.compare-button:hover {
  color: #00000066;
}

.compareModal {
  z-index: 10;
  width: 570px;
  position:fixed;
  padding: 2px;
  top: 26%;
  right: 21%;
  height: 220px;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 2px;
  background-color: white;
  color: rgb(59, 59, 59);
  font-size: 14px;
}
#th-left{
  width: 15%;
  text-align: left;
  padding: 2px;

}
#th-center{
  width: 70%;
  text-align: center;
  padding: 2px;

}
#th-right{
  width: 15%;
  text-align: right;
  padding: 2px;
}
#table{
  width: 100%;
  height: auto;
}
#table-body{
  font-weight: lighter;
  color:rgb(59, 59, 59)
}
th{
  font-weight: lighter;
}
.card-name{
  margin-bottom: 6px;
  padding-left: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 228;
  font-size: 14px;
  font-weight: bold;
}
.card-category{
  line-height: 50%;
  font-size: 16px;
  font-weight: lighter;
  margin-top: 6px;
  padding-left: 6px;
}
.card-price{
  font-size: 14px;
  padding-left: 6px;

}
#original_price{
  text-decoration: line-through;
  font-weight: 100;
}
#sale{
  color: red;
  font-weight: bold;
}
.related-titles {
  padding-left: 1%;
  font-weight: lighter;
}
