
.answer-body {
  color: 	#808080;
  font-size: 20px;
  font-weight: 500;
}

.answer-footer {
  display: flex;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
  gap: 10px;
}

.footer-ele {
  display: inline-block ;
}

/* remove some of the spacing between the answer helpful button */
.answer-helpful {
  margin-left: -5px;

  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
  color: #808080;
}

.answer-report {
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
  color: #808080;
}

.answer-helpful-text {
  color: #808080;
}

.answer-user {
  color:	#A9A9A9;
}

.bar-sep {
  color: #808080;
}

.qa-thumbnail-icon-list {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}