/* Breakdown */
#breakdown {
  flex: 1;
  margin-right: 2em;
}

#overall {
  display: flex;
}

#average {
  font-size: 3em;
  margin-bottom: .5em;
  margin-right: 2em;
  display: inline;
}

#avestars {
  display: inline;
  padding-top: .5em;
}

#recommend {
  font-size: 1em;
}

.num_stars {
  display: inline;
}

/* List */
#list {
  flex: 2;
}

#sorting, #summary {
  font-size: 1.5em;
  font-style: bold;
  margin-bottom: 1em;
}

#buttons {
  text-align: center;
}

#revlist {
  height: 350px;
  overflow-y: scroll;
}

/* Review */
.clickable {
  text-decoration: underline;
}

#recommended {
  text-align: center;
}

#review {
  border-style: none none solid none;
  border-width: 1px;
}

#body {
  text-align: left;
}

#commentary, #info {
  font-size: .75em;
  text-align: right;
}

#images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#images img {
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 1px black solid;
}

/* Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0px;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.rating {
  display: inline;
}

label {
  font-weight: bold;
}

.button {
  background-color: white;
  border: black solid 1px;
  color: black;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#sort {
  background-color: white;
  border-color: white;
  color: black;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  font-size: 22px;
}

/* Bar */
.black {
  border-color: black 1px solid;
  background-color: black;
  height: 10px;
  flex: 1;
}

.grey {
  background-color: lightgray;
  height: 10px;
  flex: 1;
}

#percents {
  display: flex
}