#overview {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  max-width: 1000px;
}



.overviewTop {
  display: flex;
  flex-wrap: wrap;
}

.overviewLeft,
.overviewRight {
  display: flexbox;
  vertical-align: top;
}

.overviewLeft {
  min-width: 600px;
}


.overviewRight {
  width: 390px;
  padding-left: 10px;
}

.productDescription {
  max-width: 1000px;
}


#productGallery {
  width: 600px;
  height: 500px;
  /* overflow: hidden; */
}

.productImageBlock {
  width: 600px;
  height: 500px;
}

.mainImageContainer {
  position: relative;
  top: -500px;
  width: 600px;
  height: 500px;
  transition: 0.5s;
  background-color: white;
  /* ^^ Same as page BG*/
}

.mainImageContainer.expanded {
  position: relative;
  transition: 0.5s;
}

.arrowX {
  position: absolute;
}

#mainLeft {
  top: 50%;
  left: 80px;
  z-index: 3;
}

#mainRight {
  top: 50%;
  right: 20px;
  z-index: 3;
}

.mainImageScroll {
  height: inherit;
  width: inherit;
}

.mainImageScroll.expanded {
  overflow-y: auto;
  overflow-x: hidden;
}


.mainImage {
  position: relative;
  object-fit: cover;
  object-position: 50% 50%;
  height: inherit;
  width: inherit;
}

.mainImage.expanded {
  position: relative;
  object-fit: cover;
  object-position: 50% 100%;
  width: inherit;
  height: max-content;
  padding: -10px
}

.carousel {
  position: relative;
  flex-direction: column;
  left: 10px;
  height: 500px;
  width: 70px;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: 0px;
  justify-content: center;
  z-index: 2;
}

.carouselContainer {
  height: fit-content;
  width: 64px;
  overflow: hidden;
  background-color: rgb(80, 80, 80, 0.8);
}

.carSlider {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 450px;
  width: 64px;
  transition: 0.3s;
}

.carouselItem {
  display: flex;
  object-fit: cover;
  margin: 0;
  padding: 0;
  height: 60px;
  width: 60px;
  flex-shrink: 0;
  border: 2px solid transparent;
}

.carouselItem:hover {
  cursor: pointer;
  border-color: aliceblue;
}

#carouselUp,
#carouselDown,
.arrowY {
  display: flex;
  background-color: transparent;
  padding: 0;
  margin: 0;
  height: 15px;
  width: 60px;
  align-items: center;
  justify-content: center;
  border: 0;
}

#carouselUp,
#carouselDown {
  overflow: hidden;
}

#carouselUp:hover,
#carouselDown:hover {
  transform: scale(1.15);
}

#carouselUp {
  margin-bottom: 3px;
}

#carouselDown {
  margin-top: 3px;
}

.arrowY {
  transform: rotate(90deg);
  position: relative;
  color: white;
  border: none;
  z-index: 1;
  cursor: default;
  font-size: 3rem;
}

#carouselItemActive,
#carouselItemActive:hover {
  border: 2px solid yellowgreen;
  cursor: default;
}

.selectStylePin {
  width: auto;
  display: block;
}

.styleRow {
  max-height: fit-content;
  max-width: fit-content;
  margin: 0;
  padding: 0;
}

.stylePin {
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid transparent;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.stylePin:hover {
  cursor: pointer;
  border-color: rgb(255, 176, 57);
}

.stylePin.active {
  border: 4px solid rgb(237, 102, 6);
}